*{
    margin: 0px;
    padding: 0px;
}

.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: blueviolet;
    color: white;
    justify-content:space-between;
    padding: 10px 50px;
    align-items: center;
}

.navbar p:hover{
    font-size: 18px;
}

.navbar h1:hover{
    font-size: 35px;
}

.login:hover{
    font-size: 18px;
    width: 75px;
    height: 35px;
}

a{
    text-decoration: none;
    color: inherit;
}

.imagebanner{
    height: 400px;
    background-image: url(./luca-bravo-XJXWbfSo2f0-unsplash.jpg);
    margin: 50px auto;
    background-size: cover;
}

.transparant{
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    padding-top: 150px;
    padding-left: 500px;
    box-sizing: border-box;
    font-size: 20px;
}

.container_description h2{
    text-align: center;
    margin-bottom: 50px;
}

.description{
    display: flex;
}

.card{
    width: 400px;
    margin-left: 25px;
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.card--artikel{
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
    border: 1px solid rgb(128, 128, 128, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card--artikel:hover{
    border: 3px solid rgb(128, 128, 128, 0.1);
}

.imagecard{
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100px;
}

.HTML{
    background-image: url(./file_type_html_icon_130541.svg);
}

.CSS{
    background-image: url(./file_type_css_icon_130661.svg);
}

.JavaScript{
    background-image: url(./javascript_icon_130900.svg);
}

.Tailwind{
    background-image: url(./file_type_tailwind_icon_130128.svg);
}

.React{
    background-image: url(./react_original_logo_icon_146374.svg);
}

.PHP{
    background-image: url(./file_type_php_icon_130266.svg);
}

.textcard{
    margin-top: 40px;
}

.tagline{
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.textcard h1{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 90px;
    margin-left: 20px;
    font-weight: 500;
}

.textcard ul li{
    display: inline-block;
    margin-left: 20px;
}

.container_content{
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.content{
    width: 500px;
    margin-right: 90px;
    margin-left: 70px;
}


.content p{
    margin-top: 10px;
}

.titlecontentartikel{
    text-align: center;
    margin-bottom: 50px;
}

.mt-5{
    margin-top: 50px;
}

.btn{
    width: 160px;
    height: 40px;
    background-color:magenta;
    border: none;
    color: white;
    font-size: inherit;
    margin-top: 15px;
}

.btn:hover{
    font-size: 18px;
    width: 165px;
    height: 45px;
}

.footer{
    background-color: blueviolet;
    text-align: center;
    color: white;
    padding: 20px;
}

.ml-2{
    margin-left: 20px;
}

.login{
    width: 70px;
    height: 30px;
    background-color: magenta;
    border: none;
    color: white;
    font-size: inherit;
}

.loginform{
    width: 400px;
    margin: 150px auto;
}

.loginform h1{
    margin-bottom: 50px;
}

.loginform label, input{
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.loginform div{
    text-align: left;
}

.loginform button{
    width: 350px;
    font-size: 20px;
    margin-bottom: 15px;
}

.loginform p{
    color: magenta;
}